# secrets
docker/.env

# backups (podem ser grandes / contêm dados sensíveis)
backups/*
!backups/.gitkeep

# sistema
.DS_Store
*.log

projects/*/.venv/
projects/*/data/*
!projects/*/data/.gitkeep
projects/*/__pycache__/
projects/*/.env

projects/pandas_drill/config/__pycache__