# secrets
docker/.env

# backups (podem ser grandes / contêm dados sensíveis)
backups/*
!backups/.gitkeep

# sistema
.DS_Store
*.log

projects/*/.venv/
projects/*/data/*
!projects/*/data/.gitkeep
projects/*/__pycache__/
projects/*/.env

drills/*/.venv/
drills/*/data/*
!drills/*/data/.gitkeep
drills/*/__pycache__/
drills/*/*/__pycache__/
drills/*/.env

